<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../favicon.ico"/>

    <title>Navbar Template for Bootstrap</title>

    <!-- Bootstrap core CSS -->
    <link href="../static/css/bootstrap.css" rel="stylesheet" th:href="@{/css/bootstrap.css}"/>


    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
          integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous"
          th:href="@{/webjars/bootstrap/3.3.7/css/bootstrap.min.css}">

    <script src="/webjars/jquery/3.1.1/jquery.min.js"></script>

    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
            integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
            crossorigin="anonymous" th:src="@{/webjars/bootstrap/3.3.7/js/bootstrap.min.js}"></script>

    <style>
        .bd-placeholder-img {
            font-size: 1.125rem;
            text-anchor: middle;
            -webkit-user-select: none;
            -moz-user-select: none;
            -ms-user-select: none;
            user-select: none;
        }

        @media (min-width: 768px) {
            .bd-placeholder-img-lg {
                font-size: 3.5rem;
            }
        }
    </style>

</head>
<body dir="rtl">
<div class="container">

    <th:block th:include="/navbar"></th:block>

    <!-- Main component for a primary marketing message or call to action -->
    <div class="container-fluid">
        <!--Usage of models we wrote in WepAppController th:text="'Welcome to basic Bootstrap with Spring Boot created by ' + ${username} -->
        <div class="row">
            <div class="col-md-3">
                <div class="list-group" id="list-tab" role="tablist">


                    <a class="list-group-item list-group-item-action "  th:href="@{/suspects}">في الحجر</a>
                    <a class="list-group-item list-group-item-action bg-success" th:href="@{/quarentineFinish}">حجر منتهي</a>
                    <a class="list-group-item list-group-item-action bg-danger" th:href="@{/desciplines}">غير ملتزم</a>

                    <a class="list-group-item list-group-item-action active" th:href="@{/city/السبيخة}">السبيخة</a>
                    <a class="list-group-item list-group-item-action active" th:href="@{/city/الشبيكة}">الشبيكة</a>
                    <a class="list-group-item list-group-item-action active" th:href="@{/city/الشراردة}">الشراردة</a>
                    <a class="list-group-item list-group-item-action active" th:href="@{/city/العلا}">العلا</a>
                    <a class="list-group-item list-group-item-action active" th:href="@{/city/القيروان%20الجنوبية}">القيروان الجنوبية</a>
                    <a class="list-group-item list-group-item-action active" th:href="@{/city/القيروان%20الشمالية}">القيروان الشمالية</a>
                    <a class="list-group-item list-group-item-action active" th:href="@{/city/الوسلاتية}">الوسلاتية</a>
                    <a class="list-group-item list-group-item-action active" th:href="@{/city/بوحجلة}">بوحجلة</a>
                    <a class="list-group-item list-group-item-action active" th:href="@{/city/الحاجب}">الحاجب</a>
                    <a class="list-group-item list-group-item-action active" th:href="@{/city/حفوز}">حفوز</a>
                    <a class="list-group-item list-group-item-action active" th:href="@{/city/نصر%20الله}">نصر الله</a>
                </div>
            </div>
            <div class="col-md-9 container-fluid">

                <div class="col-md-6">
                    <form th:action="@{'/addsuspect/' + ${suspectparent.get().id}}" th:object="${suspect}" method="post">
                        <table >
                            <tr>
                                <label for="validationServer01">الإسم</label>
                                <input th:field="${suspectparent.get().firstName + suspectparent.get().firstName}" type="text" class="form-control " id="validationServer011" placeholder="الإسم"  required>

                            </tr>
                            <tr>
                                <label for="validationServer01">الإسم</label>
                                <input th:field="*{firstName}" type="text" class="form-control " id="validationServer01" placeholder="الإسم"  required>

                            </tr>
                            <tr>
                                <label for="validationServer02">اللقب</label>
                                <input th:field="*{lastName}" type="text" class="form-control " id="validationServer02" placeholder="اللقب"  required>

                            </tr>
                            <tr>
                                <label for="validationServerUsername">بلد القدوم</label>

                                <input th:field="*{country}" type="text" class="form-control " id="validationServerUsername" placeholder="بلد القدوم" aria-describedby="inputGroupPrepend3" required>

                            </tr>
                            <tr>
                                <label for="validationServer03">الجهة</label>
                                <input th:field="*{city}" type="text" class="form-control " id="validationServer03" placeholder="الجهة" required>

                            </tr>
                            <tr>
                                <label for="validationServer04">الهاتف</label>
                                <input th:field="${suspect.phonenumber}" type="text" class="form-control " id="validationServer04" placeholder="الهاتف" required>
                            </tr>
                            <tr>
                                <label for="validationServer05">تاريخ بداية الحجر</label>
                                <input th:field="*{dateIn}" type="text" class="form-control " id="validationServer05" placeholder="تاريخ بداية الحجر" required>

                            </tr>
                            <tr>
                                <button class="btn btn-primary" type="submit">تسجيل</button>
                            </tr>
                        </table>

                    </form>
                </div>
            </div>
        </div>
    </div>
</div> <!-- /container -->
<!-- Bootstrap core JavaScript
================================================== -->


<!-- Placed at the end of the document so the pages load faster -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script src="../static/js/bootstrap.js" th:href="@{/js/bootstrap.js}"></script>
<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
</body>
</html>


